/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box
}
html,body,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}

.dis-flex{
    display: flex;
}
.jus-items-center{
    justify-items: center;
}
.align-items-center{
    align-items: center
}
.text-center{
    text-align: center
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-bold{
    font-weight: 700;
}
.border-circle{
    border-radius: 100%;
}
.back-grey{
    background-color: #d6dadc;
}
.tr-btn{
    transition: .1s ease;
    background: hsla(0,0%,100%,.3);
    border-radius: 3px;
    color: #fff;   
    height: 100%;
}
.icon-box{

}